In [1]:
import imp

munge = imp.load_source('munge', '../clearn/munge.py')
from sklearn.naive_bayes import GaussianNB

In [2]:
import pandas as pd

In [3]:
data_frame = pd.read_csv('../data/crimeSample.csv')

In [4]:
data_frame[:5]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,9993618,HY183647,03/13/2015 11:56:00 PM,022XX W 21ST ST,051A,ASSAULT,AGGRAVATED: HANDGUN,STREET,False,False,...,25,31,04A,1161498,1889981,2015,03/20/2015 12:42:30 PM,41.853785,-87.682726,"(41.853785453, -87.682726178)"
1,9993559,HY183629,03/13/2015 11:56:00 PM,049XX N AUSTIN AVE,2022,NARCOTICS,POSS: COCAINE,ALLEY,True,False,...,45,11,18,1135233,1932723,2015,03/20/2015 12:42:30 PM,41.971580,-87.778114,"(41.971580323, -87.778114286)"
2,9993811,HY183931,03/13/2015 11:52:00 PM,002XX N KILBOURN AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,28,26,14,1146318,1900711,2015,03/20/2015 12:42:30 PM,41.883532,-87.738170,"(41.883531998, -87.738169853)"
3,9993675,HY183675,03/13/2015 11:50:00 PM,046XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,True,...,4,39,08B,1185621,1874728,2015,03/20/2015 12:42:30 PM,41.811395,-87.594668,"(41.81139462, -87.594668281)"
4,9993703,HY183626,03/13/2015 11:48:00 PM,030XX N KOLMAR AVE,1330,CRIMINAL TRESPASS,TO LAND,RESIDENTIAL YARD (FRONT/BACK),False,False,...,31,20,26,1145566,1919717,2015,03/20/2015 12:42:30 PM,41.935701,-87.740449,"(41.935700728, -87.740448872)"

In [5]:
%time data_targets_pairs_by_area = munge.make_raw_data_target_pairs('../data/crimeSample.csv')

../clearn/munge.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data_frame['Community Area'] = data_frame['Community Area'].map(lambda num: str(int(num)))
../clearn/munge.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data_frame[col_name] = data_frame[col_name].map(lambda unbinned: unbinned_to_binned[unbinned])

CPU times: user 20.4 s, sys: 188 ms, total: 20.6 s
Wall time: 20.7 s

../clearn/munge.py:138: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  timestamps[label + ' Crimes'] = [int(classification == label) for classification in timestamps['Primary Type']]

In [6]:
master_dict = munge.make_training_set('../data/crimeSample.csv')

In [8]:
master_dict.keys()

dict_keys(['Archer Heights', 'Irving Park', 'Roseland', 'Lincoln Square', 'Washington Park', 'Hegewisch', 'West Law', 'Beverly', 'Hyde Park', 'Belmont Cragin', 'South Deering', 'Montclare', 'South Lawndale', 'Douglas', 'Near North Side', 'South Shore', 'McKinley Park', 'West Pullman', 'South Chicago', 'Oakland', 'East Side', 'Burnside', 'Hermosa', 'Grand Boulevard', 'Chicago Lawn', 'Mount Greenwood', 'Avondale', 'Jefferson Park', 'West Garfield park', 'New City', 'Albany Park', 'Woodlawn', 'Near West Side', 'North Center', 'Lincoln Park', 'Loop', 'West Englewood', 'Pullman', 'Humboldt Park', 'Ashburn', 'Dunning', 'Forest Glen', 'Englewood', "O'Hare", 'Near South Side', 'Morgan Park', 'West Elsdon', 'Avalon Park', 'Kenwood', 'Brighton Park', 'Edgewater', 'Riverdale', 'Garfield Ridge', 'Clearing', 'Austin', 'Greater Grand Crossing', 'Chatham', 'Auburn Gresham', 'Uptown', 'Rogers Park', 'Lake View', 'Lower West Side', 'Gage Park', 'Logan Square', 'North Lawndale', 'Calumet Heights', 'North Park', 'Fuller Park', 'Edison Park', 'West Town', 'Norwood Park', 'West Ridge', 'East Garfield Park', 'Bridgeport', 'Portage Park', 'Washington Heights', 'Armour Square'])

In [9]:
master_dict['Edgewater'][:5]

,Arrest,Domestic,Violent Crimes,Severe Crimes,Minor Crimes,Petty Crimes,Month,Weekday,Violent Crimes in Last Week,Violent Crimes in Last Month,...,Chicago Minor Crimes,Chicago Petty Crimes,Chicago Violent Crimes in Last Week,Chicago Violent Crimes in Last Month,Chicago Severe Crimes in Last Week,Chicago Severe Crimes in Last Month,Chicago Minor Crimes in Last Week,Chicago Minor Crimes in Last Month,Chicago Petty Crimes in Last Week,Chicago Petty Crimes in Last Month
Date,,,,,,,,,,,,,,,,,,,,,
2014-10-28,1,0,1,2,0,1,10,1,7,33,...,70,133,1378,5576,2601,10830,498,2131,951,4154
2014-10-29,2,0,2,4,0,0,10,2,9,34,...,78,128,1398,5550,2649,10876,500,2127,951,4128
2014-10-30,1,1,2,2,1,0,10,3,10,36,...,64,146,1404,5560,2647,10879,495,2108,951,4133
2014-10-31,3,0,3,2,0,0,10,4,13,38,...,80,141,1352,5518,2666,10890,500,2096,918,4097
2014-11-01,1,1,3,4,0,0,11,5,14,39,...,66,166,1342,5530,2679,10891,487,2090,956,4127

In [3]:
data, targets = data_targets_pairs_by_area['Kenwood']

In [4]:
len(data)

5154

In [5]:
len(targets)

5154

In [6]:
gnb = GaussianNB()

In [7]:
y_pred = gnb.fit(data, targets).predict(data)

In [8]:
print("Number of mislabeled points out of a total %d points : %d" % (len(data),(targets != y_pred).sum()))

Number of mislabeled points out of a total 5154 points : 1141

In [ ]:
data