In [1]:
import imp

munge = imp.load_source('munge', '../clearn/munge.py')

In [2]:
master_dict = munge.get_master_dict('../data/crimeSample.csv')

../clearn/munge.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data_frame['Community Area'] = data_frame['Community Area'].map(lambda num: str(int(num)))
../clearn/munge.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data_frame[col_name] = data_frame[col_name].map(lambda unbinned: unbinned_to_binned[unbinned])
../clearn/munge.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  timestamps[label + ' Crimes'] = [int(classification == label) for classification in timestamps['Primary Type']]

In [3]:
len(master_dict)

78

In [4]:
master_dict['Edgewater'][:5]

,Arrest,Domestic,Violent Crimes,Severe Crimes,Minor Crimes,Petty Crimes,Violent Crime Committed?,Month,Weekday
Date,,,,,,,,,
2014-09-28,0,0,0,3,0,0,False,9,6
2014-09-29,0,1,1,2,0,0,True,9,0
2014-09-30,0,0,0,4,0,0,False,9,1
2014-10-01,1,2,1,1,0,2,True,10,2
2014-10-02,1,2,2,1,1,1,True,10,3

In [5]:
import datetime

In [6]:
my_day = datetime.date(2014, 9, 29)

In [7]:
my_day

datetime.date(2014, 9, 29)

In [9]:
len(master_dict['Kenwood'])

167

In [12]:
master_dict['Edgewater'].loc[:my_day][:-1]

,Arrest,Domestic,Violent Crimes,Severe Crimes,Minor Crimes,Petty Crimes,Violent Crime Committed?,Month,Weekday
Date,,,,,,,,,
2014-09-28,0,0,0,3,0,0,False,9,6

In [18]:
res = (master_dict['Edgewater'].loc[my_day]['Violent Crime Committed?'])

In [19]:
res?

In [21]:
range_test_day = datetime.datetime(2014, 10, 30)

In [20]:
thirty_days = datetime.timedelta(days=30)

In [22]:
thirty_days_ago = range_test_day - thirty_days

In [24]:
master_dict['Edgewater'].loc[thirty_days_ago : range_test_day]

,Arrest,Domestic,Violent Crimes,Severe Crimes,Minor Crimes,Petty Crimes,Violent Crime Committed?,Month,Weekday
Date,,,,,,,,,
2014-09-30,0,0,0,4,0,0,False,9,1
2014-10-01,1,2,1,1,0,2,True,10,2
2014-10-02,1,2,2,1,1,1,True,10,3
2014-10-03,0,0,1,4,1,0,True,10,4
2014-10-04,2,1,0,3,0,2,False,10,5
2014-10-05,0,0,2,3,0,0,True,10,6
2014-10-06,1,0,0,2,0,1,False,10,0
2014-10-07,2,0,1,2,1,1,True,10,1
2014-10-08,2,0,3,3,0,0,True,10,2
2014-10-09,0,0,1,0,2,1,True,10,3
2014-10-10,3,0,0,3,3,1,False,10,4
2014-10-11,3,1,1,5,2,1,True,10,5
2014-10-12,1,2,2,2,0,0,True,10,6
2014-10-13,2,0,1,7,1,0,True,10,0
2014-10-14,1,0,0,1,1,0,False,10,1
2014-10-15,0,0,2,3,0,1,True,10,2
2014-10-16,2,0,2,2,1,0,True,10,3
2014-10-17,0,1,0,4,0,2,False,10,4
2014-10-18,2,2,4,3,1,0,True,10,5
2014-10-19,1,0,0,1,0,1,False,10,6
2014-10-20,2,0,1,5,1,1,True,10,0
2014-10-21,0,0,1,2,1,0,True,10,1
2014-10-22,3,0,0,5,1,1,False,10,2
2014-10-23,1,0,1,1,0,0,True,10,3
2014-10-24,2,0,0,2,2,1,False,10,4
2014-10-25,4,1,2,5,2,1,True,10,5
2014-10-26,0,0,0,2,1,0,False,10,6
2014-10-27,3,1,3,4,0,1,True,10,0
2014-10-28,1,0,1,2,0,1,True,10,1
2014-10-29,2,0,2,4,0,0,True,10,2
2014-10-30,1,1,2,2,1,0,True,10,3